.Nav {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.setting {
    width: 17px;
    margin: 20px;
}

.setting:hover {
    border: 0 solid gray;
    padding: 10px;
    border-radius: 10px;
    background-color:lightgray;
}